* {
    margin: 0;
    padding: 0;

}
main {
    display: flex;
    background-color: aqua;
    margin: 20px auto;
    padding: 10px;
    flex-direction: column;
    
    min-height: 100px;
    min-width: 100px;
    align-items: center;
}
.concluido {
    text-decoration-line: line-through;
    color: brown;
}
button {
    background-color: blue;
    color: azure;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}
botaoRemover {
    background-color: blueviolet;    
    color: azure;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;

}